.mapContainer {
    margin: 20px; /* Adjust as needed */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure no overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    height: calc(100vh - 40px); /* Adjust height if needed */
    width: calc(100% - 40px); /* Adjust width if needed */
  }
  